p A new free trial request has been made. You can also view this information in the Admin.

p Name: #{ @name }
p Email Address: #{ @email }
p Workout: #{ @workout }
p Time: #{ @time }
p Day: #{ @day }
p Comments: #{ @comments }
