h1 Thank you!

p We have received the following information from you:

p Name: #{ @name }
p Email Address: #{ @email }
p Workout: #{ @workout }
p Time: #{ @time }
p Day: #{ @day }
p Comments: #{ @comments }

p We will be in contact with you. Be sure to wear good workout attire (no tank tops or sleeveless shirts please), and make sure to bring water and a towel. Most importantly, bring an open mind, willingness to challenge yourself and be ready for a great time with high energy!

