doctype xml
urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"

  url: loc = xml_sitemap_path(about_index_path)
  url: loc = xml_sitemap_path(instructors_index_path)
  - if @sitemap_instructors.present?
    - @sitemap_instructors.each do |instructor|
      url: loc = xml_sitemap_path(instructors_detail_path(slug: instructor.slug))
  url: loc = xml_sitemap_path(membership_path)
  url: loc = xml_sitemap_path(classes_index_path)
  url: loc = xml_sitemap_path(schedule_path)
  url: loc = xml_sitemap_path(photos_path)
  url: loc = xml_sitemap_path(videos_path)
  url: loc = xml_sitemap_path(news_index_path)
  - if @sitemap_news_items.present?
    - @sitemap_news_items.each do |news|
      url: loc = xml_sitemap_path(news_detail_path(slug: news.slug))
