.footer {
  padding: 0px;
  .nav {
    background-color: $c-gray-dark;

    a:link,
    a:visited {
      color: $c-orange;
    }

    a:hover {
      color: $c-white;
      text-decoration: none;
    }
  }
}