footer.footer {
  padding: 0px;
  .nav {
    background-color: $c-gray-dark;

    a {
      border-bottom: 0px;
      color: $c-white;
    }

    a:link,
    a:visited {
      color: $c-white;
    }

    a:hover {
      color: $c-orange;
      text-decoration: none;
      pointer-events: hand;
    }
  }
}

@media screen and (max-width: 768px) {
  .mobile-hide { 
    display: none;
  }
}