body {
  background-color: $c-white;
  color: $c-black;

  a:link,
  a:visited,
  a:active {
    color: $c-orange;
  }
  a:active,
  a:focus {
    border-color: $c-orange !important;
  }

  a:hover {
    text-decoration: underline;
  }

  a.no-hover,
  a.no-hover:hover {
    color: $c-white;
    pointer-events: none;
  }

  .menu-list a {
    color: $c-gray-light;
  }

  .menu-list a:hover {
    color: $c-orange;
    background-color: $c-white;
  }

  .back-link {
    margin-bottom: 20px;
    display: block;
  }

  .back-link:before {
    content: '';
    display: inline-block;
    background: url(global/Arrow.svg) no-repeat;
    transform: scaleX(-1);
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
}

// BUTTONS

.button {
  border-radius: 0px;
  border: 2px solid $c-orange;
  color: $c-orange;
  text-transform: uppercase;
  font-size: 13px;
  padding: 25px 60px;
}

.button:hover {
  text-decoration: none;
}

// SECTIONS

.tall-section {
  margin: 70px 0;
}

// QUOTE

blockquote {
  border-left: 2px solid $c-gray-lightest;
  padding-left: 50px;
  max-width: 600px;
  margin-top: 50px;

  p {
    font-weight: bold;
    color: $c-black;
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 20px;
    max-width: 430px;
    display: block;
    font-style: italic;
  }

  cite {
    font-style: normal;
  }
}

blockquote:before {
  display: block;
  width: 65px;
  height: 65px;
  margin-top: -20px;
  background: url(global/Quote-Mark.svg) no-repeat;
  background-size: 65px 65px;
  float: right;
  content: '';
  transform: scale(-1,-1)
}

// FONT TREATMENT

.medium-bold-title {
  color: $c-black;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.large-bold-title {
  font-weight: bold;
  font-size: 4rem;
  padding-bottom: 10px;
}

.med-bold-title {
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

// IMAGE TREATMENT

.bordered-hero {
  border-bottom: 10px solid $c-orange;
}

// DARK SECTION

.dark-section {
  background-color: $c-gray-dark;
  color: $c-white;
  padding: 50px 0 80px;

  .title,
  .subtitle {
    color: $c-white;
  }

  .button {
    background-color: $c-gray-dark;
  }

  .button:hover {
    color: $c-white;
  }
}

// MARKDOWN

.markdown-content {
  p {
    margin-bottom: 20px;
  }
}

// MISC

.hide {
  display: none;
}

// MOBILE

@media screen and (max-width: 768px) {
  .tall-section {
    margin: 0;
  }

  .med-bold-title {
    font-size: 1.5rem;
  }

  .med-bold-title {
    font-size: 2rem;
  }
}