body {
  background-color: $c-white;
  color: $c-black;

  a:link,
  a:visited {
    color: $c-orange;
  }

  a:hover {
    text-decoration: underline;
  }
}

.button {
  border-radius: 0px;
  border: 2px solid $c-orange;
  color: $c-orange;
  text-transform: uppercase;
  font-size: 13px;
  padding: 25px 60px;
}

.button:hover {
  text-decoration: none;
}

.tall-section {
  margin: 70px 0;
}

.large-bold-title {
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 10px;
}

.med-bold-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

iframe {
  margin-bottom: -5px;
}

// DARK SECTION

.dark-section {
  background-color: $c-gray-dark;
  color: $c-white;
  padding: 50px 0 80px;

  .title,
  .subtitle {
    color: $c-white;
  }

  .button {
    background-color: $c-gray-dark;
  }

  .button:hover {
    color: $c-white;
  }
}

// markdown

.markdown-content {
  p {
    margin-bottom: 20px;
  }
}

