nav.nav {
  a:link,
  a:visited {
    color: $c-white;
    border: 0;
  }

  a:hover,
  li.current a {
    color: $c-orange;
    text-decoration: none;
  }

  a.is-tab:hover {
    border: 0;
  }
}

.facebook-icon {
  padding-right: 0px !important;
}

#contact-bar,
#mobile-nav {
  background-color: $c-black;

  a span {
    display: block;
    width: 25px;
    height: 35px;
    margin-right: 5px;
  }

  .time {
    background: asset_url('top-nav/Time.svg');
    background-size: 25px 35px;
  }

  .address {
    background: asset_url('top-nav/Address.svg');
    background-size: 25px 35px;
  }

  .email {
    background: asset_url('top-nav/Email.svg');
    background-size: 25px 35px;
  }

  .phone {
    background: asset_url('top-nav/Phone.svg');
    background-size: 25px 35px;
  }

  .facebook {
    background: asset_url('top-nav/Facebook.svg');
    background-size: 25px 35px;
  }

  .instagram {
    background: asset_url('top-nav/Instagram.svg');
    background-size: 25px 35px;
  }
}

#nav-menu {
  background-color: $c-gray-dark;

  .is-tab {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin: 50px;
  }

  span {
    display: block;
    width: 200px;
    height: 115px;
    margin-right: 5px;
  }

  .logo {
    background: asset_url('logos/KMG-Logo.png') no-repeat center;
    background-size: 150px 120px;
  }
}

// Dropdown

nav.nav li:hover a {
  color: $c-orange;
}

#nav-menu > ul li ul {
  padding-bottom: 10px;
}

#nav-menu > ul > li {
  position: relative;
}

#nav-menu > ul > li div li:first-child {
  margin-top: 10px;
}

#nav-menu > ul > li a + div {
  display: none;
  position: absolute;
  width: 195px;
  background: $c-gray-dark;
  text-align: left;
}

#nav-menu > ul > li:hover a + div {
  display: block;
}

#nav-menu > ul > li a + div > ul > li > a {
  display: block;
  padding: 10px 15px 20px 35px;
}

#nav-menu > ul > li a + div > ul > li {

  a {
    color: $c-white;
    font-weight: bold;
    text-transform: uppercase;
  }

  a:hover {
    color: $c-orange;
  }
}

// bulma overrides

.nav-hero-header {
  background-color: $c-gray-dark;
}

.hero-head .container {
  max-width: 100%;

  #mobile-nav {
    background-color: $c-gray-dark;

    .nav-toggle.is-active span,
    .nav-toggle span {
      background: $c-white;
    }

    .nav-toggle.is-active:hover span,
    .nav-toggle:hover span {
      background: $c-gray-dark;
    }
  }
}

.nav-toggle.is-active span {
  background-color: $c-gray-dark;
}

.nav-menu.nav-right.is-active {
  background-color: $c-gray-dark;

  a {
    color: $c-orange;
    padding-left: 20px;
  }
}

// mobile

@media screen and (max-width: 768px) {
  #contact-bar, #nav-menu {
    display: none;
  }

  #mobile-nav {
    display: flex;

    .nav-item img.logo {
      max-height: 49px;
    }

    .nav-left,
    .nav-toggle{
      border-bottom: 1px solid $c-gray-light;
    }

    .nav-toggle {
      height: 80px;
    }

    .nav-right {
      padding-top: 20px;

      .nav-item {
        color: $c-white;
        margin-left: 10px;
        font-weight: bold;
      }

      .nav-item:hover {
        color: $c-orange;
      }

      .utility {
        background-color: $c-black;
        border-top: 1px solid $c-gray-light;

        span {
          margin-right: 15px;
        }

        .facebook-icon {
          float: left;

          .facebook {
            margin-right: 0px;
          }
        }
      }
    }
  }
}