= render 'fae/shared/nested_table_advanced',
  assoc: :schedules,
  parent_item: @parent_item,
  cols: [:day, { attr: :formatted_start_time, title: 'Start Time' }, { attr: :formatted_end_time, title: 'End Time' }]