.pages.home {
  .video-link {
    display: inline-block;
    position: relative;
    z-index: 1;

    .play-button {
      background: url(home/Play.svg) no-repeat;
      background-size: 150px 150px;
      display: block;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    img {
      margin-bottom: -5px;
    }
  }
  .video-link:focus {
    outline: none;
  }
}