.pages.home {
  .video-link {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: $c-black;
    width: 100%;

    .play-button {
      background: asset_url('home/Play.svg') no-repeat;
      background-size: 11rem 11rem;
      display: block;
      width: 11rem;
      height: 11rem;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .play-button:hover {
      background: asset_url('home/Play-inverted.svg') no-repeat;
    }

    img {
      margin-bottom: -5px;
    }
  }


  .video-link:focus {
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .pages.home .video-link .play-button,
  .pages.home .video-link .play-button:hover {
    background-size: 5rem 5rem;
    width: 5rem;
    height: 5rem;
  }
}