.about.membership {
  .dark-section {
    padding: 80px 0 80px;
  }

  #membership_benefits {

    .column.margin-left {
      margin-left: 50px;
    }

    .markdown-content {
      li {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: bold;
      }

      li:before {
        content: '';
        display: inline-block;
        background: url(global/Arrow.svg) no-repeat;
        width: 20px;
        height: 10px;
        margin-left: 5px;
      }
    }
  }

  #membership_image {
    background: url(membership/Membership_Bgnd_1600.jpg) no-repeat fixed center $c-gray-dark;

    .column.margin-left {
      margin-left: 50px;
    }

    .no-margin {
      margin-bottom: 0;
    }

    .discount {
      color: $c-orange;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 5px;
      font-size: 0.95rem;
    }

    .button {
      margin-top: 20px;
    }

    .svg-columns {
      margin-bottom: 70px;

      .markdown-content {
        column-count: 2;

        li {
          max-width: 230px;
          padding-left: 2em;
          text-indent: -2em;
          margin-bottom: 10px;
        }

        li:before {
          content: '';
          display: inline-block;
          background: url(global/Arrow.svg) no-repeat;
          width: 20px;
          height: 10px;
          margin-left: 5px;
        }
      }
    }
  }

  #pricings-header,
  #pricings-table {
    .column {
      padding: 0 80px;
      min-width: 350px;
      text-align: center;
    }

    .pricing-header-bold {
      font-weight: bold;
    }
  }

  #pricings-header {
    margin-bottom: 40px;

    .column p {
      text-transform: uppercase;
      color: $c-gray-lightest;

      .pricing-subheader {
        display: block;
        text-transform: none;
        font-size: 10px;
        font-weight: bold;
        color: $c-white;
      }
    }
  }

  #pricings-table {
    .column {
      border-right: 1px solid $c-gray-light;

      li {
        padding-bottom: 20px;
        color: $c-white;
        font-weight: normal;

        span {
          display: block;
          font-size: 10px;
        }
      }

      &.price-level {
        text-align: left;
        text-transform: uppercase;

        li {
          color: $c-gray-lightest;
          font-weight: bold;
        }

        .padding-bottom {
          padding-bottom: 40px;
        }
      }
    }

    .column:last-child {
      border-right: 0px;
    }
  }
}

// MOBILE

@media screen and (max-width: 768px) {
  #membership_pricing {
    display: none;
  }

  #mobile_membership_pricing {
    display: block;
  }

  .about.membership #membership_image {
    display: inline-block;
    width: 100%;
    background-image: none;
    background-color: $c-gray-dark;
  }

  table th {
    color: $c-gray-lightest;
    font-weight: bold;
  }

  #mobile_membership_pricing {
    display: block;
    width: auto;
    margin: 10px auto 30px auto;

    label{
      padding: 20px;
      position: relative;
      z-index: 1;
      display: block;
      line-height: 33px;
      font-size: 19px;
      font-weight: bold;
      border-top: 1px solid $c-gray-light;
      border-bottom: 1px solid $c-gray-light;
      background-color: $c-black;
    }

    label:hover{
      background: $c-white;
      color: $c-orange;
    }

    input{
      display: none;
    }

    input:checked + label,
    input:checked + label:hover{
      background: $c-white;
      color: $c-orange;
      text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
      box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
    }

    article{
      margin-top: -1px;
      overflow: hidden;
      position: relative;
      z-index: 10;
      max-height: 0;
      transition: max-height 0.15s ease-out;

      ul {
        display: inline-block;
        width: 100%;

        li {
          padding: 20px;
          list-style: none;
          font-size: 19px;
          border: 1px solid $c-gray-light;
          background-color: $c-gray-dark;

          p {
            font-size: 1rem;
          }

          .pricing-level {
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 20px;
          }
        }
      }
    }

    input:checked ~ article{
      max-height: 5000px;
      transition: max-height 0.15s ease-in-out;
    }
  }
}