.news-item {
  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .date {
    color: $c-orange;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .read-more {
    margin-top: 15px;
    font-weight: bold;
    display: block;
  }

  .read-more:after {
    content: '';
    display: inline-block;
    background: url(global/Arrow.svg) no-repeat;
    width: 20px;
    height: 10px;
    margin-left: 5px;
  }
}

.news.index {
  .news-items-columns{
    .column {
      margin-bottom: 50px;
      max-width: 350px;
      padding-right: 50px;
    }
  }
}

.news.detail {
  .section-content {
    max-width: 800px;
  }

  .date {
    color: $c-orange;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .intro {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .section-content img {
    padding-top: 30px;
    display: block;
  }

  .caption {
    padding-bottom: 30px;
    padding-top: 5px;
    color: $c-gray-light;
  }
}