.classes.schedule {
  background-color: $c-gray-dark;

  .dark-section {
    padding: 0 0 100px 0;

  }

  .light-header-section {
    padding-top: 100px;
  }
}

#schedule-section,
#mobile-schedule-section {

  .schedule-columns {
    margin-top: 50px;

    .column {
      span {
        display: block;
        width: 35px;
        height: 35px;
        margin: 0 auto;
      }

      .bold-upcase {
        text-transform: uppercase;
        font-weight: bold;
        width: 120px;
        margin: 0 0 5px auto;
      }
    }

    .column.fixed-height {
      height: 140px;

      p {
        font-size: 0.9rem;
      }
    }

    .column.border-right {
      border-right: 1px solid $c-gray-light;
    }

    .column.border-right:last-child {
      border-right: 0px;
    }
  }

  .teen {
    background: url(icons/Teen.svg) no-repeat;
    background-size: 35px 35px;
  }

  .krav {
    background: url(icons/Krav_Maga.svg) no-repeat;
    background-size: 35px 35px;
  }

  .strike {
    background: url(icons/Strike_Lab.svg) no-repeat;
    background-size: 35px 35px;
  }

  .combat {
    background: url(icons/Combat_Conditioning.svg) no-repeat;
    background-size: 35px 35px;
  }

  .coach {
    background: url(icons/Coach.svg) no-repeat;
    background-size: 35px 35px;
  }
}

#schedule-section {
  position: relative;
  padding-top: 10px;

  .day-header {
    position: absolute;
    width: 100%;
    display: block;
    padding: 30px 0;
    top: 0;

    .column {
      width: 161px;
      padding: 0px;
    }

    .day-name {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .day-header-dark {
    background-color: $c-gray-dark;
  }
}

// Mobile

@media screen and (max-width: 768px) {
  #schedule-section,
  .print-pdf {
    display: none;
  }

  #mobile-schedule-section {
    display: block;
    width: auto;
    margin: 10px auto 30px auto;

    label{
      padding: 20px;
      position: relative;
      z-index: 1;
      display: block;
      line-height: 33px;
      font-size: 19px;
      font-weight: bold;
      border-top: 1px solid $c-gray-light;
      border-bottom: 1px solid $c-gray-light;
    }

    label:hover{
      background: $c-white;
      color: $c-orange;
    }

    input{
      display: none;
    }

    input:checked + label,
    input:checked + label:hover{
      background: $c-white;
      color: $c-orange;
      text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
      box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
    }

    article{
      margin-top: -1px;
      overflow: hidden;
      position: relative;
      z-index: 10;
      max-height: 0;
      transition: max-height 0.15s ease-out;

      ul {
        display: inline-block;
        width: 100%;

        li {
          padding: 20px;
          list-style: none;
          font-size: 19px;
          border: 1px solid $c-gray-light;

          p {
            font-size: 1rem;
          }

          .bold-upcase {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4rem;
          }
        }
      }
    }

    input:checked ~ article{
      max-height: 5000px;
      transition: max-height 0.15s ease-in-out;
    }
  }
}
