.sticky-container {
  position: fixed;
  top: 0;
  max-width: 1200px;
  padding: 0 30px;

  /* magic number alert: 30px is the total padding of multiple divs that wrap
      the original sticky-sidebar */

  .sticky-sidebar {
    padding-left: 142px;
  }
}

.original-sticky-container {
  max-width: 1200px;
  padding: 0 30px;
}