#free-trial {
  .container {
    text-align: center;
  }

  .form-wrapper {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;

    p {
      margin-bottom: 20px;
      text-align: center;
    }

    .free_trial_request_comments textarea {
      min-height: 100px;
    }

    form {
      label {
        margin-top: 10px;
      }
    }

    input[type="submit"] {
      color: $c-orange;
      border-radius: 0;
      border: 2px solid $c-orange;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      background: white;
      margin-top: 20px;
    }

    input[type="submit"]:hover {
      color: $c-white;
      background: $c-orange;
    }
  }
}