.columns {
  .column.is-2 span {
    display: block;
    width: 25px;
    height: 35px;
    margin: 0 auto;
  }

  .teen {
    background: url(icons/Teen.svg);
    background-size: 25px 35px;
  }

  .krav {
    background: url(icons/Krav_Maga.svg);
    background-size: 25px 35px;
  }

  .strike {
    background: url(icons/Strike_Lab.svg);
    background-size: 25px 35px;
  }

  .combat {
    background: url(icons/Combat_Conditioning.svg);
    background-size: 25px 35px;
  }

  .coach {
    background: url(icons/Coach.svg);
    background-size: 25px 35px;
  }

}
