// Do Not Delete this page! FAE depends on it in order to set its highlight color.
$c-custom-highlight: #df8026;

.hidden {
	display: none;
}

.index .content table {
	margin-bottom: 20px;
}

.time select {
	min-height: 25px !important;
}
